.Layout {
  height: 100dvh;
  overflow-y: scroll;
  width: 100vw;
}

.Header,
.PageContents {
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 768px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.Header {
  background-color: #eee;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 10;

  @media (min-width: 768px) {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

.PageName {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin-bottom: 0;

  @media (min-width: 768px) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.PageContents {
  margin-top: var(--Header-height-mobile);
  padding-bottom: 2rem;
  padding-top: 2rem;

  @media (min-width: 768px) {
    margin-top: var(--Header-height-desktop);
  }
}
