.PropertyListing {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  position: relative;
}

.FavoriteToggle {
  background: transparent;
  border: none;
  position: absolute;
  right: 4px;
  top: 4px;
}

.Image {
  border-radius: 4px;
  margin-bottom: 1rem;
}

.Features {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.ListPrice {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.Address {
  margin-bottom: 0.25rem;
}

.DateOfListing {
  /* A bit darker than in the design for a11y contrast compliance */
  color: #6b7280;
  margin-bottom: 0;
}
